.sidebar-nav-links {
  min-height: 100vh;
  align-self: flex-start;
  position: sticky;
  top: var(--restaurant-section-height, 15.625rem);
  border-right: 0.8px solid var(--grey-text);
  padding-top: var(--dish-top-padding);
}
.sidebar-nav-links::after {
  content: "";
  width: 4px;
  height: 1.125rem;
  background-color: var(--primary-color);
  position: absolute;
  top: var(--dish-top-padding);
  right: -1px;
  padding: 0;
}

.sidebar-nav-links a {
  display: block;
  text-decoration: none;
  max-width: 200px;
  color: var(--grey-text);
  text-align: right;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  word-wrap: break-word;
}
.sidebar-nav-links a:hover,
.sidebar-nav-links a:active {
  color: var(--primary-color);
}
.active-url {
  color: var(--primary-color);
  transform: scale(1.1);
}
